<section id="feedback" class="feedback">
  <div class="container">
    <h2 class="feedback-title">Відгуки клієнтів</h2>
    <h3 class="feedback-text">
      Дізнайтеся, що кажуть наші задоволені клієнти про наші меблі.
    </h3>
    <div class="swiper feedbackSwiper">
      <ul class="swiper-wrapper feedback-list"></ul>
      <div class="feedback-nav">
        <div class="feedback-pagination"></div>
        <div class="feedback-btns">
          <button type="button" class="feedback-button-prev feedback-btn">
            <svg class="icon-feedback">
              <use href="/img/sprite.svg#arrow-left"></use>
            </svg>
          </button>
          <button type="button" class="feedback-button-next feedback-btn">
            <svg class="icon-feedback">
              <use href="/img/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>