<div class="modal modal-furniture" role="dialog" aria-modal="true" aria-labelledby="furnitureModalTitle">
  <div class="container">
    <div class="modal-content">
      <!-- start render func injection  -->
      <button class="modal-close-btn" aria-label="Close furniture details modal">
        <svg width="48" height="48">
          <use href="/img/sprite.svg#close"></use>
        </svg>
      </button>
      <ul class="images-furniture"></ul>
      <div class="furniture-info"></div>
      <!-- end render func injection  -->
    </div>
  </div>
</div>