<section class="section section-pop" id="popular">
  <div class="container popular-container">
    <h2 class="popular-title">Популярні товари</h2>
    <div class="swiper popularSwiper">
      <span class="loader hidden"></span>
      <ul class="swiper-wrapper popular-list"></ul>
      <div class="swiper-controls">
        <div class="popular-pagination" id="popular-pagination"></div>
        <div class="swiper-navigation" id="popular-navigation">
          <div class="popular-button-prev">
            <svg width="24" height="24">
              <use href="/img/sprite.svg#arrow-left"></use>
            </svg>
          </div>
          <div class="popular-button-next">
            <svg width="24" height="24">
              <use href="/img/sprite.svg#arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>